* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 10px;
}

a,
button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;

  background: green;

  display: flex;
  align-items: center;
  justify-content: center;
}

body button {
  border: 0;
  border-radius: 1rem;

  padding: 2rem 1.8rem;

  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-weight: 500;

  box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
}
